.clear { clear: both; }

.left { float: left; }

.readmore {
	color: #203165;
	float: right;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.readmore:hover { color: #9c1b29; }

.right { float: right; }