#bottom, #footer, #component, #mainmenu { margin: 0 auto; }

#bottom { width: 1050px; }
#footer, #mainmenu { width: 970px; }
#component { width: 960px; }

#top {
	background: url(../images/canopy.png) center 26px no-repeat;
	height: 400px; /*fixme */
}

#top > div {
	background: white;
	border-bottom: #9c1b29 solid 5px;
	border-top: #9c1b29 solid 5px;
}

#mainmenu {  
	padding: 10px 0px;
	text-align: center;
}

#content {
	background: url(../images/contenttopborder.png) top no-repeat;
	height: 57px; /* fixme */
	padding-top: 43px;
}

#component {
	background: white;
}

#component > div {
	padding: 38px 0 38px 16px;
}

#component .moduletable {
	float: left;
	padding-right: 16px;
	width: 290px;
}

#bottom_menu {
	padding: 10px 0px;
	text-align: center;
}

#bottom > div {
	background: url(../images/contentbottomborder.png) bottom no-repeat;
	height: 57px; /* fixme */
}

#footer { font-size: 10px; }

#footer .right a,
#footer .right span {
	color: #203165;
	text-decoration: none;
}

#footer .right a:hover,
#footer .right span:hover {
	color: #9c1b29;
	text-decoration: underline;
}