#header, #footer > div  {
	margin: 0 auto;
	padding: 0 5px;
	width: 960px;
}

#mainmenu {
	background: url(../images/top_menu_bg.png) repeat-x;
	height: 50px;
	position: relative;
	z-index: 5;
}

#mainmenu > div {
	margin: 0 auto;
	padding: 0 5px;
	text-align: center;
	width: 1050px;
}

#header {
	background: url(../images/tabletop_w_poles.png) center bottom no-repeat;
	margin-top: -20px;
	min-height: 335px;
	position: relative;
}

.home #header { min-height: 550px; }

.home #tablestand {	
	background: url(../images/tablestand.png) right bottom no-repeat;
	position: absolute;
	right: 100px;
	bottom: 15px;
	padding-bottom: 15px;
}

.home #tablestand > div {
	background: url(../images/tablestand.png) left top no-repeat;
	padding-top: 24px;
}

.home #tablestand > div > div {
	background: url(../images/tablestand.png) center;
	width: 204px;
}

#body {
	background: url(../images/contenttopborder.png) top no-repeat;
	padding-top: 43px;
}
#body > div {
	background: url(../images/contentbottomborder.png) bottom no-repeat;
	padding: 0 5px 56px;
}
#body > div > div {
	background: white;
	margin: 0 auto;
	width: 960px;
}

#component img,
#rotator {
	border: #d9d9d9 2px solid; 
	margin: 5px 5px 5px 0;
}

#component {
	float: left; 
	margin-left: 5px;
	width: 635px;
}

#component > div {
	padding: 8px 0 0px 16px;
}

#component .moduletable {
	float: left;
	padding-left: 16px;
}

#component .moduletable:first-child {
	padding-left: 0;
}

#sidebar { 
	background: white;
	float: left; 
	padding: 8px 16px;
	width: 288px;
}

#sidebar img {
	border: #d9d9d9 2px solid; 
	margin: 5px 5px 5px 0;
}

#bottom_menu {
	padding: 10px 0px;
	text-align: center;
}

#footer { font-size: 10px; padding: 0 10px 40px 10px; }

#footer .right a,
#footer .right span {
	color: #203165;
	text-decoration: none;
}

#footer .right a:hover,
#footer .right span:hover {
	color: #9c1b29;
	text-decoration: underline;
}