/* main menu begins */
.moduletable_menu { font-size: 12px; }
.moduletable_menu ul { 
	font-weight: bold;
	list-style-type: none; 
	padding: 15px 0;
	text-transform: capitalize;
}
.moduletable_menu li { 
	display: inline;
}
.moduletable_menu li > a,
.moduletable_menu li > span { 
	color: #203165; 
	padding: 10px 30px;
	text-decoration: none;
}
.moduletable_menu li > a:hover,
.moduletable_menu li > span:hover { 
	background: #9c1b29 ;
	color: white;
}
/* main menu ends */

/* bottom menu begins */
.moduletable  { font-size: 11px; }
.moduletable ul { 
	list-style-type: none; 
	padding: 12px 0;
	text-align: center;
	text-transform: capitalize;
}
.moduletable li { 
	display: inline;
	padding: 12px 0px 12px 8px;
}
.moduletable li:first-child {
	padding: 12px 0;
}
.moduletable li > a,
.moduletable li > span { 
	color: #203165; 
	text-decoration: none;
}
.moduletable li > a { 
	background: url(../images/separator.png) left no-repeat;
	padding-left: 8px;
}
.moduletable li:first-child > a {
	background: none;
}
.moduletable li > a:hover,
.moduletable li > span:hover { 
	color: #9c1b29; 
}
.moduletable li:hover > a.separator, 
.moduletable li:hover > span.separator { 
	color: #203165; 
}
/* bottom menu ends */

/* media module begins */
.module-newsflash .item:first-child {
	border-top: none;
}
.module-newsflash .item {
	border-top: #d9d9d9 1px solid;
	padding-bottom: 20px;
}
/* media module ends */







