#canopy {
	left: -45px;
	position: absolute;
	top: 0;
	z-index: 4;
}

#logo {
	top: 64px;
	position: absolute;
	left: 383px;
	z-index: 5;
}

#napkins {
	bottom: 15px;
	left: 50px;
	position: absolute;
}

#tray {	
	bottom: 5px;
	left: 210px;
	position: absolute;	
}


#socialmedia {
	position: absolute;
	right: 77px;
	top: 90px;
	z-index: 5;
}

#heading {
	
	bottom: 15px;
	height: 74px;
	position: absolute;
	right: 60px;
	width: 300px;
}

.home #heading {
	display: none;
}

#pot {	
	bottom: 15px;
	display: none;
	left: 460px;
	position: absolute;
	z-index: 1;
}
.home #pot { display: block; }

#people {
	bottom: 40px;
	display: none;
	left: 84px;
	position: absolute;
	z-index: -1;
}

.home #people { display: block; }